.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1.5rem;
    background: #f5f5f5;
}

.mainContainer {
    flex: 1;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    margin-top: 2rem;
}

.mainContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari 和新版 Edge */
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 3rem 0;
}

.questionContainer {
    margin-bottom: 1rem;
}

.errorQuestionContainer {
    margin-bottom: 1rem;
    border-radius: 1rem;
    animation: blinkError 1s ease-in-out 3;
}

@keyframes blinkError {
    0%, 100% {
      background-color: transparent;
    }
    50% {
      background-color: rgb(255, 183, 183);
    }
}

.questionName {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.optionContainer {
    padding-left: 1rem;
}

@media (min-width: 600px) {
    .optionContainer {
        padding-left: 0; /* 屏幕宽度大于 600px 时，设置为 0 */
        display: flex;
    }
} 

.optionBox {
    position: relative;
    display: flex;
    align-items: center;
}

.optionselect {
    position: absolute;
    left: 0.5rem;
    top: 0.4rem;
    width: 1.4rem;
    height: 0.7rem;
    border: 5px solid transparent;
    border-left: 5px solid #1cc42a;
    border-bottom: 5px solid #1cc42a;
    transform: rotate(-45deg);
    transform-origin: center;
    animation: drawCheck 0.1s ease-out forwards;
}

@keyframes drawCheck {
    0% {
      transform: rotate(-45deg) scaleX(0) scaleY(0);
    }
    100% {
      transform: rotate(-45deg) scaleX(1) scaleY(1);
    }
}

.optionShowText {
    font-size: 1rem;
    padding: 0.5rem 0;
}

@media (min-width: 600px) {
    .optionShowText {
        margin-right: 10rem;
    }
}